---
---

<footer>
    <p>FOOTER</p>
</footer>

<style>
    footer {
        margin-top: auto;

        height: 200px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: black;
        color: white;
    }
</style>