---
---

<nav>
    <p>NAVIGATION MENU</p>
</nav>

<style>
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
</style>